.container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.children {
    flex: 1 0 0;
}

.container h2 {
    font-size: 5rem;
}

.container a {
    font-size: 1.4rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    -webkit-appearance: none;
    background: #3498db;
    border: 0;
    font-size: inherit;
    color: #FFF;
    font-weight: inherit;
    font-size: 18px;
    font-family: inherit;
    outline: none;
    margin-bottom: 16px;
    cursor: pointer;
}

.btn-cta {
    background: #2ecc71;
}
