.img {
    max-width: 100%;
    width: auto;
    height: auto;
    box-shadow: #000 0 0 4px;
}

.img-container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
